@import "../../../styles.scss";

.programmes__header {
  display: flex;
  padding: 10px 15px;
}

.programmes__header__item {
  margin: 5px;
  padding: 5px;
  flex: 1;
}

.programmes__header__item--poster {
  max-width: 100px;
}

.programmes__list__item {
  border-bottom: 1px solid $studios-tertiary-pale-grey;
  margin: 10px 15px 0 15px;
  padding-bottom: 10px;

  &:first-child {
    border-top: 1px solid $studios-tertiary-pale-grey;
    margin: 0 15px 10px 15px;
    padding-top: 10px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.programmes__list__item--new {
  border: none !important;
  margin: 25px 15px 20px 15px;
}

#programmes__toggle {
  text-align: right;
  display: block;
  margin: 10px 15px 0 15px;
}

#programmes__grid {
  display: grid;
  place-items: center;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.programmes__grid__item {
  margin: 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: solid $studios-tertiary-pale-grey;
  border-radius: 5px;
  width: 60%;
  height: 90%;
  grid-column: auto;
}


@media (max-width: 694px) {
  .programmes__grid {grid-template-columns: auto;}
}